.lista{
  &__cabecalho{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    &--botao{
      width: 200px;
      height: 25px;
      background: none;
      border-radius: 8px;
    }
  }
  &__card{
    border: 2px solid;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    width: 200px;
    margin: 16px;
  }

  &__titulo{
    font-size: 20px;
  }

  &__button{
    width: -webkit-fill-available;
    height: 25px;
    background: none;
    border-radius: 8px;
  }
  &__botoes{
    margin-top: 20px;
  }

  &__pesquisa{
    height: 25px;
    background: none;
    border-radius: 8px;
  }
}
